

<h1 class="normal"> Welcome <%= @user.name %>!</h1>

<div class="well">
  <h2 class="normal"> Add a location</h2>
  	<%= form_for("location", :html => { :class => "search-query"}) do |f| %> 
	    <%= f.text_field(:city,:class => "search-query", :placeholder => "Your favorite city...") %>
		<%= f.submit('Add', :class => "btn")%>
    <% end %>
<%= link_to 'Back', users_path %>
</div>

