<h1 class="normal"> Welcome <%= @user.name %>!</h1>

<div class="well add_location">
  <h2 class="normal"> Add a location</h2>
  	<%= form_for("location", :html => { :class => "search-query"}) do |f| %> 
	    <%= f.text_field(:city,:class => "search-query", :placeholder => "City, State") %>
		<%= f.submit('Add', :class => "btn")%>
    <% end %>
</div>

<div class="well current_locations">
  <h2 class="normal"> Your current locations</h2>
  <% @user.locations.each do |location| %>
    <%= link_to location.city, :controller => "restaurants", :action => "index", :location_id => location.id %>
  <% end %>
</div>


