<!DOCTYPE html>
<html>
<head>
  <title> <%= @title %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap.css' %>
  <%= javascript_include_tag "bootstrap/bootstrap.js" %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap-responsive.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="#">Lunchy</a>
            <% if !@index.nil? %>
			  <%= form_for("user", :html => { :class => "login pull-right form-inline"}) do |f| %> 
			    <%= f.text_field(:email,:class => "input-small", :placeholder => "Email") %>
				<%= f.password_field(:password, :class => "input-small", :placeholder => "Password") %>
				<%= f.submit('Sign in', :class => "btn")%>
              <% end %>
            <%end%>
	    </div> 
	  </div>
	</div>
  <%= yield %>
</body>
</html>
