<!DOCTYPE html>
<html>
<head>
  <title> <%= @title %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap.css' %>
  <%= javascript_include_tag "bootstrap/bootstrap.js" %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap-responsive.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
